<template>
    <v-container>
        <dashboard-highlights></dashboard-highlights>
        <sales-overview></sales-overview>
        <dashboard-performance></dashboard-performance>
    </v-container>
</template>

<script>

    import DashboardHighlights from '../../components/Dashboard/Highlights'
    import SalesOverview from '../../components/Dashboard/SalesOverview'
    import DashboardPerformance from '../../components/Dashboard/Performance'

    export default {
        name: 'Dashboard',
        components: { 
            DashboardHighlights,
            SalesOverview,
            DashboardPerformance
        }
    }
</script>

<style lang="scss" scoped>

</style>