<template>
    <v-app-bar app color="white" flat>
        <v-app-bar-nav-icon @click.stop="toggleDrawer"></v-app-bar-nav-icon>
        <v-toolbar-title>
            <v-icon large color="cyan" class="pb-1 pr-2">mdi-chart-bar</v-icon>
            <span class="blue-grey--text font-weight-light">Analytics</span>
        </v-toolbar-title>
    </v-app-bar>
</template>

<script>
    export default {
        name: 'AppBar'
    }
</script>