<template>
    <v-row justify="center">
        <v-text-field 
            :value="formatDate"
            @click.stop="dialog = true"
            label="Custom Date  " 
            outlined solo flat
            class="pa-5" dense
            append-icon="mdi-calendar" readonly>
        </v-text-field>

        <v-dialog
            v-model="dialog"
            max-width="290">
            <v-card flat>
                <v-card-text class="pa-0">
                    <v-date-picker v-model="dates" range></v-date-picker>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning darken-1" text @click="cancel">
                        Reset/Cancel
                    </v-btn>
                    <v-btn dark color="cyan" @click="dialog = false">
                        OK
                    </v-btn>
                </v-card-actions>   
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>

    import moment from 'moment'
    export default {
        name: 'DatePicker',
        computed: {
            formatDate() {
                return this.dates.length > 0 ? 
                    moment(this.dates[0]).format('DD MMM YYYY') + ' - ' + 
                    moment(this.dates[1]).format('DD MMM YYYY') 
                    : ''
            }
        },
        methods: {
            cancel() {
                this.dialog = false
                this.dates = []
            }
        },
        data: () => ({
            dialog: false,
            dates: [],
        })
    }
</script>

<style lang="scss" scoped>

</style>