<template>
    <v-footer absolute class="cyan--text grey lighten-3 font-weight-medium">
        <v-col class="text-center font-weight-light" cols="12">
            {{ new Date().getFullYear() }} — <strong>Analytics</strong>
        </v-col>
    </v-footer>
</template>

<script>
    export default {
        name: 'Footer',
        data: () => ({
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram',
      ],
    }),
    }
</script>

<style lang="scss" scoped>

</style>