<template>
    <v-navigation-drawer color="cyan" v-model="navigation_drawer" dark app>
        <v-list rounded>
            <v-subheader>NAVIGATION</v-subheader>
            <v-divider></v-divider>
            <v-list-item-group v-model="activeMenuItem" color="white">
                <v-list-item v-for="(item, i) in items" :key="i" @click="goTo(item, i)">
                    <v-list-item-icon>
                        <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content >
                        <v-list-item-title v-text="item.text"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: 'NavigationDrawer',
        computed: {
            activeMenuItem: {
                get: function() {
                    let _s = this    
                    _s.items.forEach((el, index) => {
                         Object.keys(el).find(key => {
                            if (el[key] === _s.$router.currentRoute.name) {
                                _s.item = index
                            }
                        })
                    })
                    return _s.item
                },
                set: function (newValue) {
                    this.item = newValue
                }
            }
        },
        methods: {
            goTo(url, index) {
                this.$router.push(url.path)
                this.item = index
            },
            
        },
        data: () => ({
            item: null,
            items: [
                { text: 'Home', icon: 'mdi-home', path: 'home', },
                { text: 'Dashboard', icon: 'mdi-view-dashboard', path: 'dashboard', },
                { text: 'About Us', icon: 'mdi-information', path: 'about-us', },
            ],
        }),
    }
</script>

<style lang="scss" scoped>

</style>