<template>
    <v-container class="pt-12 fill-height">
        <v-layout text-center wrap>
            <v-flex mb-4>
                <h1 class="display-2 font-weight-thin mb-3 py-5">
                    About Us
                </h1>
                <p>
                    <v-btn 
                        v-for="icon in icons" :key="icon.text"
                        depressed fab color="cyan" dark
                        class="mx-2">
                        <v-icon>{{ icon.icon }}</v-icon>
                    </v-btn>
                </p>
                <p class="subheading font-weight-light cyan--text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: 'AboutUs',
        data: () => ({
            icons: [
                { text: 'facebook', icon: 'mdi-facebook'},
                { text: 'twitter', icon: 'mdi-twitter'},
                { text: 'instagram', icon: 'mdi-instagram'},
                { text: 'google', icon: 'mdi-google'}
            ]
        })  
    }
</script>
