<template>
    <v-layout wrap row>
        <v-flex
            v-for="(highlight, key) in highlights"
            :key="key"
            xs6 sm6 md3 lg3 xl3
            pa-2>
            <highlights-card :highlight="highlight" :key-index="key"></highlights-card>
        </v-flex>
    </v-layout>
</template>

<script>

    import { mapGetters, mapActions } from 'vuex'
    import HighlightsCard from './HighlightsCard'

    export default {
        name: 'Highlights',
        mounted() {
            this.getHighlights()
        },
        components: { 
            HighlightsCard 
        },
        computed: {
            ...mapGetters('dashboard', ['highlights'])
        },
        methods: {
            ...mapActions('dashboard', ['getHighlights']),
        }
    }
</script>

<style lang="scss" scoped>

</style>