<template>
    <div @click="showShadow" @mouseleave="onLeave">
        <v-hover 
            :disabled="hoverDisabled"
            v-slot:default="{ hover }">
            <v-card :class="hoverDisabled ? '' : `hover-${keyIndex}`" :elevation="hoverDisabled == false ? 12 : 0" flat>
                <v-card-text>
                    <p pb-5>{{ highlight.title }}</p>
                    <v-layout>
                        <v-flex xs12 sm12 md6 lg6 xl6 pt-6>
                            <v-btn dark rounded depressed :color="colorize(keyIndex)">20%</v-btn>
                        </v-flex>
                        <v-flex xs12 sm12 md6 lg6 xl6>
                            <p class="grey--text text-right pa-0 ma-0 caption">
                                {{ highlight.body[0].label }}
                            </p>
                            <p class="text-right pa-0 ma-0 body-1 font-weight-bold">
                                <span v-if="highlight.body[0].extra" class="warning--text">P</span>
                                {{ highlight.body[0].value }}
                            </p>
                            <p class="grey--text text-right pa-0 ma-0 caption pt-2">
                                {{ highlight.body[1].label }}
                            </p>
                            <p class="text-right pa-0 ma-0 body-1 font-weight-bold">
                                {{ highlight.body[1].value }}
                            </p>                                
                        </v-flex>
                    </v-layout>
                </v-card-text>  
                <v-divider></v-divider> 
                <v-card-actions>
                    <p class="pa-0 ma-0 grey--text caption text-left">
                        {{ highlight.footer.label }}
                    </p>
                    <v-spacer></v-spacer>
                    <p class="pa-0 ma-0 grey--text caption text-right">
                        <span v-if="highlight.footer.extra" class="warning--text">P</span>
                        {{ highlight.footer.value }}
                    </p>
                </v-card-actions>
            </v-card>
        </v-hover>
    </div>
</template>

<script>

    const COLOR_HIGHLIGHTS = ['purple lighten-2', 'green lighten-2', 'orange lighten-2', 'pink lighten-2']

    export default {
        name: 'HighlightsCard',
        props: {
            highlight: {
                type: Object,
                default: () => {}
            },
            keyIndex: {
                type: Number,
                default: null
            }
        },
        methods: {
            showShadow() {
                this.hoverDisabled = false
            },
            onLeave() {
                this.hoverDisabled = true
            },
            elevateMe() {
                this.elevate = 4
            },
            colorize(color) {
                return COLOR_HIGHLIGHTS[color]
            }
        },
        data: () => ({
            elevate: 0,
            hoverDisabled: true
        })
    }
</script>

<style lang="scss" scoped>
    .hover-1 {
        -webkit-box-shadow: 0px 2px 4px 6px red, 
                            2px 4px 6px 8px red, 
                            4px 6px 8px 10px red !important;
        box-shadow: 0px 2px 4px 6px red, 
                            2px 4px 6px 8px red, 
                            4px 6px 8px 10px red !important;
    }
</style>