<template>
    <v-layout row wrap py-5>
        <v-flex
            v-for="(item, key) in items"
            :key="key" pa-2 pb-12 ma-0
            xs12 sm12 md6 lg6 xl6>
            <v-card>
                <v-toolbar flat color="grey lighten-4" dense>
                    <div class="subtitle">{{ item.title }}</div>
                </v-toolbar>
                <v-card-text class="pa-0">
                    <v-data-table
                        v-if="item.meta == 'branch'"
                        :headers="branch_performance.headers"
                        :items="branch_performance.data"
                        :items-per-page="5"
                        class="elevation-1">
                    </v-data-table>
                    <v-data-table
                        v-if="item.meta == 'rewards'"
                        :headers="rewards_performance.headers"
                        :items="rewards_performance.data"
                        :items-per-page="5"
                        class="elevation-1">
                    </v-data-table>
                </v-card-text>
            </v-card>
            
        </v-flex>
    </v-layout>
</template>

<script>

    import { mapActions, mapGetters } from 'vuex'

    export default {
        name: 'Performance',
        mounted() {
            this.getPerformance()
        },
        computed: {
            ...mapGetters('dashboard', [
                'branch_performance',
                'rewards_performance'
            ])
        },
        methods: {
            ...mapActions('dashboard', ['getPerformance'])
        },
        data: () => ({
            items: [
                { title: 'Branch Performance', meta: 'branch' },
                { title: 'Rewards Performance', meta: 'rewards' }
            ]
        })
    }
</script>

<style lang="scss" scoped>

</style>