<template>
    <v-layout row wrap pa-2 pt-12>
        <v-flex md6>
            <v-toolbar flat color="grey lighten-5" dense>
                <v-select
                    :items="items"
                    label="Date Filter"
                    dense flat
                    outlined solo>
                </v-select>
                <date-picker></date-picker>
                <v-spacer></v-spacer>
            </v-toolbar>
        </v-flex>
        <v-flex md6></v-flex>
        <v-flex md12>
            <v-card class="mt-4 mx-auto">
                <v-toolbar flat color="grey lighten-4" dense>
                    <div class="subtitle">Sales Overview</div>
                </v-toolbar>
                <v-card-text class="pt-0">
                    <bar-chart></bar-chart>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>

    import BarChart from '../../plugins/bar_chart'
    export default {
        name: 'SalesOverview',
        components: { BarChart },

        computed: {
            myStyles () {
                return {
                    height: `${this.height}px`,
                    position: 'relative'
                }
            },
            dateRangeText () {
                return this.dates.join(' ~ ')
            },
        },

        data: () => ({
            height: 300,
            position: 'relative',
            datacollection: null,
            items: ['Last 7 Days', 'Last Month', 'Last Year']
        }),
    }
</script>

<style lang="scss" scoped>
    canvas#bar-chart {
        height: 100% !important;
    }
</style>