<template>
    <div class="home">
        <welcome-page msg="Welcome-page to Your Vue.js App"></welcome-page>
    </div>
</template>

<script>
    // @ is an alias to /src
    import WelcomePage from '@/components/Home/Welcome'

    export default {
        name: 'home',
        components: {
            WelcomePage
        }
    }
</script>
