<template>
    <v-app>
        <navigation-drawer></navigation-drawer>
        <app-bar></app-bar>
        <v-content>
            <router-view></router-view>
        </v-content>
        <footer-bar></footer-bar>
    </v-app>
</template>

<script>

    import NavigationDrawer from './components/Base/NavigationDrawer'
    import AppBar from './components/Base/AppBar'
    import FooterBar from './components/Base/Footer'

    export default {
        name: 'App',

        components: {
            NavigationDrawer,
            AppBar,
            FooterBar
        },

        data: () => ({
            //
        }),
    };
</script>
