<template>
    <v-container class="pt-12 fill-height">
        <v-layout text-center wrap>
            <v-flex class="pt-12" xs12>
                <v-icon color="cyan" :size="100">mdi-comment-question</v-icon>
                <h1 class="display-4 font-weight-thin">
                    404
                </h1>
                <p class="subheading font-weight-light cyan--text">
                    Page Not Found
                </p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: 'PageNotFound'
    }
</script>

<style lang="scss" scoped>

</style>